body{
  background-color: rgb(246, 217, 221);
}
/* Header */
.header {
  background-color: pink;
  width: 100%;
  height: 12vh;
}

/* Hero Section */
.carousel-item {
  position: relative;
  height: 75vh;
  /* Default for desktop */
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  filter: brightness(70%);
}

.carousel-caption { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  max-width: 700px;
}

.carousel-caption h1 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1rem;
}

@media (max-width: 991px) {

  /* Tablet */
  .carousel-item {
    height: 50vh;
  }

  .carousel-caption h1 {
    font-size: 2.8rem;
  }

  .carousel-caption p {
    font-size: 1.5rem;
  }

  .carousel-caption {
    width: 70%;
  }

}

@media (max-width: 576px) {

  /* Mobile */
  .carousel-item {
    height: 50vh;
  }

  .carousel-caption h1 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.85rem;
  }

  .carousel-caption .btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }

  .carousel-caption {
    width: 70%;
  }

  .image-logo {
    width: 230px;
    height: 8vh;
    object-fit: cover;
  }
}

.app-btn img {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.app-btn img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1114px)and (min-width:768px) {

  /* Tablet */
  .carousel-item {
    height: 50vh;
  }

  .carousel-caption h1 {
    font-size: 2.8rem;
  }

  .carousel-caption p {
    font-size: 1.5rem;
  }

  .carousel-caption {
    width: 70%;
  }

  .image-logo {
    width: 300px;
    height: 8vh;
    object-fit: cover;
  }
  .offcanvas-cart{
    width: 75%;
  }

}

@media (max-width: 1800px)and (min-width:1115px) {
  .image-logo {
    width: 230px;
    height: 9vh;
    object-fit: cover;
  }
  .offcanvas-cart{
    width: 30%;
  }

}
 footer a:hover {
    color: #28a745;
    text-decoration: underline;
  }
.active-cart {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      font-size: 12px;
      color: white;
      background-color: red;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
    }